body {
  /* background-image: image("images/mattdeanna1.jpeg"); */
  text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.left-side h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
}

.right-side h1 {
  /* text-align: right; */
  padding-top: 300px;
  width: 40%;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  /* line-height: 1rem; */
  float: right;
  padding-right: 100px;
}

h2 {
  padding: 30px 0px;
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

.top {
  display: flex;
  height: 800px;
}
.left-side {
  /* display: flex; */
  float: left;
}

.left-side img {
  width: 75%;
  margin: 0;
}

.right-side {
  /* display: flex; */
  /* float: right; */
  background-image: url("../images/us-backjeep.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.middle {
  background-color: #ffd4d4;
}

.container {
  display: flex;
  width: 100%;
  margin: 2% auto;
  background-color: #FBE5E5;
  box-shadow: 10px 10px 10px black;
  padding: 50px;
}

.img-left {
  display: flex;
  float: left;
  /* width: 50%; */
  max-width: 30%;
}

.reason-right {
  display: flex;
  float: right;
  /* width: 50%; */
  padding-left: 5%;
  padding-top: 5%;
  /* text-align: center; */
  color: #E60965;
}

.reason-right p {
  text-align: center;
}


.bottom {
  padding: 50px 0;
}

.bottom h2 {
  /* padding: 100px 0 0; */
}


.footer {
  height: 150px;
  background-color: #E60965;
}

.footer p {
  all: revert;
  padding-top: 50px;
  color: white;
}

/* F5F5F5
F05454
30475E
121212

E60965
F94892
FFA1C9
FBE5E5

*/



/* Adjust to smaller screen size - mobile  */
@media screen and (max-width: 600px) {

  .top {
    all: revert;
    /* height: 800px; */
  }

  .left-side {
    all: revert;
  }

  .left-side img {
    all: revert;
    width: 50%;
  }

  .left-side h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
  }

  .right-side h1 {
    all: revert;
    /* padding-top: 300px; */
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }

  .right-side {
    height: 100%;
    background-image: url("../images/us-backjeep.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .container {
    display: block;
  }

  .img-left {
    all: revert;
    display: block;
    max-width: 80%;
    margin: auto;
    padding: 20px 0;
  }

  .reason-right {
    all: revert;
    display: block;
    width: 100%;
  }

}
